@import url('https://fonts.googleapis.com/css?family=Barlow|Cabin');

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #e3eaf0;
    font-family: Barlow, Verdana, sans-serif;
}

.header-container {
    display: flex;
    flex-direction: row;
    padding: 1.5em 0 1.5em 0;
    justify-content: space-around;
    background-color: #e3eaf0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 40px;
    border-bottom: 2px solid rgba(221, 219, 219, 0.7);
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content {
    margin-top: 150px;
    padding-bottom: 5rem;
}

.logo {
    margin-top: .5em;
}

header ul li {
    display: inline-block;
    padding: 0 3em 0 0;
    font-size: 1.5em;
}

header ul li a {
    text-decoration: none;
    color: #002442;
    font-family: Cabin, Verdana, sans-serif;
}

li a:active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

li a:hover {
    color: white;
}

#form-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

#form {
    text-align: center;
}

#form input[type="submit"] {
    margin-top: 5px;
}

#email {
    width: 25em;
    height: 2.7em;
    padding-left: 7px;
    border: transparent;
    border-radius: 5px;
    font-family: Barlow, Verdana, sans-serif;
    margin-bottom: 10px;
}

.select-btn {
    background-color: #FB8B24;
    border: transparent;
    border-radius: 10px;
    font-family: Cabin, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#submit {
    width: 10em;
    height: 2.2em;
    font-size: 20px;
}

.select-btn:hover {
    box-shadow: 0 0 17px #407a29;
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes background-color {
    100% {
        background-color: #407a29;
    }
}

#features {
    width: 900px;
    margin: 70px auto;
}

.feature-1,
.feature-2,
.feature-3 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.feature-1-description,
.feature-2-description,
.feature-3-description {
    margin-left: 72px;
}

h2 {
    margin-bottom: -15px;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 25px;
}

#email:focus {
    outline: none;
    box-shadow: 0 0 25px #5f8aad;
}

i {
    margin-top: 8px !important;
    font-size: 70px !important;
    color: #004680 !important;
    text-shadow: 0 0 20px #ade5ff !important;
}

#howitworks {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.pricing {
    margin: 70px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 10px;
    border: 2px solid rgba(82, 82, 82, 0.295);
    width: calc(100% / 3);
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 25px #919191;
}

.card-header {
    max-width: 100%;
    text-align: center;
    height: 60px;
    background-color: #004680;
    border-radius: 5px 5px 0 0;
    color: white;
    font-weight: 800;
    letter-spacing: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    max-width: 100%;
    margin-top: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
}

.product-features {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-features ul {
    list-style: none;
}

.product-features ul li {
    margin: 3px;
}

.select-button {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-select1,
#card-select2,
#card-select3 {
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.footer {
    background-color: #004680;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 5rem;
}

.footer ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.footer ul li {
    padding: 10px 30px 0px 30px;
}

.footer ul li a {
    text-decoration: none;
    color: white;
}

.footer p {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
    padding: 0 30px 0 30px;
    color: white;
    font-size: 10px;
}

@media screen and (max-width : 600px) {
    .header-container {
        flex-direction: column;
        justify-content: space-around;
        border-bottom: transparent;
    }

    nav {
        align-self: center;
        padding: 0 0.8em 0 0;
    }
}
